.textCenter {
	text-align: center;
}

#mainNav{
    background-color: #8AD9FF;
    border-radius: 5px;
}

.greyColor {
	color:grey;
}

ul {
	 padding: 8px;
}
li {
	display: inline;
}

li a {
	text-decoration: none;
    padding: 8px 8px 8px 8px;
}

a:link, a:visited {
	text-decoration:underline;
	color:black;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: blue;
}

#searchButton {
	border: none;
	width: 100px;
	height: 30px;
	margin-bottom: 5px;
	background-color: green;
	color: yellow;
}

#searchButton:hover {
	border: 1px solid;	
}

select {
	border: none;
	width: 120px;
	height: 30px;
	margin-bottom: 5px;
	background-color: black;
	color: lightgreen;
}

select:hover {
	border: 1px solid;	
}

textarea {
	color:grey;
	border:1px solid;
}

.progressText {
	color: green; 
	text-align: center;
}

.failureText {
	color: red;
	text-align: center;
}